div.container{
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
div.square{
    margin: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    border: solid black 1px;
    min-width: 1px;
    min-height: 1px;
    aspect-ratio: 1/1;

}
div.row{
    display: flex;
    flex-direction: row;
    width: 90%;
}